# Dataset (not loaded)
data-for-pg
data-for-pg.txt
v2.8.0rc4-pg/
queries-for-pg.txt
queries-for-pg/
tpc-ds-tool.zip

# PostgreSQL itself
load-pg.sql
postgresql-14.1.tar.bz2
postgresql-14.1/
postgresql-14.1-inst/
pgdata

# logs
logs
pglogfile
benchmark-output-raw.txt
pg-result.txt
